/*
  Chris Nethercott / ThorinDev
  Colours
*/

/* Safety Colours */
.safetyRed {
  color: #bd1e24;
}
.safetyBlue {
  color: #0067a7;
}
.safetyGreen {
  color: #007256;
}
.safetyYellow {
  color: #f6c700;
}
/* Highway Colours */
.highwayRed {
  color: #a6001a;
}
.highwayBlue {
  color: #00477e;
}
